@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.test-container{
    background-color:#888888;
    width: 100vw;
    height: 300px;
    overflow: auto;
    .container2{
        width: 300px;
        height: 200px;
        background-color: gray;
    }
}

body{
    background-color: #F4F4F4;
}

.container{
    font-family: Pretendard Variable;
    font-weight: 600;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    .h1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 846px;
        background-color: white;
        border: 2px solid black;
        font-family: Pretendard Variable;
        font-size: 20px;
        box-sizing: border-box;
        padding: 16px 32px;
        border-radius: 32px 0 0 32px;
        margin: 0 auto 20px auto;
        .twitter-link{
            font-size: 16px;
            color: #888888;
            font-weight: 300;
            margin:0;
            cursor: pointer;
        }
    }
    .content-container{
        margin:auto;
        display: flex;
        flex-direction: column;
        gap:16px;
        width: fit-content;
        background-color: white;
        border: 2px solid black;
        font-family: Pretendard Variable;
        font-weight: 400;
        font-size: 20px;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 32px 0 32px 32px;

        .main-pickers{
            display: flex;
            gap:16px;
            .main-picker{
                font-weight: 700;
                font-size: 16px;
                padding: 8px;
                border: 2px solid black;
                border-radius: 99px;
                width: 200px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                margin-bottom: 2px;
            }
        }
        .preview-container{
            display: flex;
            flex-direction: column;
            gap:8px;
            .previews{
                display: flex;
                gap:8px;
                .preview{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 262px;
                    min-width: 262px;
                    height: 568px;
                    border: 2px solid black;
                    border-radius: 20px;
                    box-sizing: border-box;
                    padding: 32px 12px;
                    font-weight: 600;
                    .header{
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 16px;
                        .icons{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }
                        .title{
                            font-size:12px;
                            font-weight: 700;
                        }
                    }
                    .profile{
                        display: flex;
                        align-items: center;
                        padding: 0 0 10px 0;
                        font-size: 10px;
                        gap: 8px; 

                        .image{
                            width: 32px;
                            height: 32px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #5353532f;
                            border-radius: 12px;
                        }
                        .image-overlay{
                            width: 32px;
                            height: 32px;
                            position:absolute;
                            background-color: #ffffff3f;
                            border: 1px solid #5353532f;
                            border-radius: 12px;
                        }
                        .dark{
                            background-color: #0000003f;
                        }
                    }
                    .list{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 0;
                        font-size: 8px;
                        gap: 8px; 

                        .image{
                            width: 100%;
                            height: 56px;
                            background-color: #e2e2e2;
                            border-radius: 4px;
                        }
                    }
                    .tabbar{
                        display: flex;
                        justify-content: space-around;
                    }
                    .passcode{
                        display: flex;
                        height: 300px;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap:16px;
                        .text{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap:8px;   
                            .title{
                                font-weight: 800;
                                font-size: 14px;
                            }
                            .description{
                                font-size:10px;
                            }
                        }
                        .icons{
                            display: flex;
                            justify-content: space-between;
                            width: 150px;
                        }
                    }
                    .keypad{
                        // display: flex;
                        // width: 100%;
                        // background-color: #888888;
                        // justify-content: center;
                        .numbers{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-rows: repeat(4, 1fr);
                            font-weight: 700;
                            font-size: 14px;
                            .number{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 16px 0;
                            }
                        }
                    }
                    .dialogues{
                        display: flex;
                        flex-direction: column;
                        gap:12px;
                        .dialogue{
                            display: flex;
                            gap:8px;
                            font-size: 8px;
                            font-weight: 600;
                            .profile-image{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 22px;
                                height: 22px;
                                border: 1px solid #5353532f;
                                border-radius: 8px;
                            }
                            .profile-overlay{
                                width: 22px;
                                height: 22px;
                                position:absolute;
                                background-color: #ffffff3f;
                                border: 1px solid #5353532f;
                                border-radius: 8px;
                            }
                            .dark{
                                background-color: #0000003f;
                            }
                            .bubble-container{
                                display: flex;
                                flex-direction: column;
                                gap:6px;
                                .bubble{
                                    position: absolute;
                                    z-index: 2;
                                    top: 6;
                                    left: 10;
                                }
                            }
                        }
                        .left{
                            justify-content: flex-start;
                        }
                        .right{
                            justify-content: flex-end;
                        }
                    }
                    .input-container{
                        display: flex;
                        gap:6px;
                        position:absolute;
                        height: 54px;
                        box-sizing: border-box;
                        padding: 8px;
                        left:0;
                        bottom: 0;
                        width: 258px;
                        border-radius: 0 0 16px 16px;
                        .icon-container{
                            width: 22px;
                            height: 22px;
                            border-radius: 11px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-sizing: border-box;
                            padding: 3px;
                        }
                        .text-input{
                            display: flex;
                            width: 100%;
                            align-items: center;
                            padding: 0 8px;
                            border-radius: 11px;
                            height: 22px;
                            font-size: 10px;
                            background-color: rgb(245, 245, 245);
                        }
                        .light{
                            background-color: rgb(245, 245, 245);
                        }
                        .dark{
                            background-color: rgba(0, 0, 0, 0.2);
                            color: rgb(245, 245, 245);
                        }
                    }
                }
            }
            .image-upload{
                display: flex;
                justify-content: space-between;
                gap: 8px;
                .button{
                    display: flex;
                    justify-content: center;
                    box-sizing: border-box;
                    padding:8px;
                    width:262px;
                    border: 1px solid black;
                    border-radius: 40px;
                    font-size: 14px;
                    font-weight: 600;
                    .file{
                        display: none;
                    }
                }
                :hover{
                    background-color: #e7e7e7;
                    cursor: pointer;
                }
            }
        }
        .section-title{
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            padding: 12px;
            box-sizing: border-box;
            font-weight: 600;
            border-top: 1px dashed lightGray;
            // border-bottom: 1px solid black;
        }
        .section{
            display: flex;
            flex-direction: column;
            padding: 8px 16px;
            font-weight: 600;
            gap: 16px;
            .section-box{
                display: flex;
                align-items: center;
                gap: 8px;
                .text-container{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .main-text{
                        font-size: 18px;
                    }
                    .sub-text{
                        font-size: 14px;
                        color:#4d4d4d
                    }
                }
                .button{
                    width: fit-content;
                    font-size: 16px;
                    box-sizing: border-box;
                    padding: 8px 12px 10px 12px;
                    background-color: black;
                    color: white;
                    border-radius: 10px;
                    margin-left: 20px;
                    font-weight: 400;
                    &:hover{
                        cursor: pointer;
                        background-color: #4d4d4d;
                    }
                }
            }
        }
        
        .settings{
            display: flex;
            gap: 8px;
            font-size: 14px;
            font-weight: 600;
            .setting{
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 262px;
                padding: 0 16px;
                box-sizing: border-box;
                .setting-row{
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    .color{
                        height: 14px;
                        width: 20px;
                        border: 1px solid black;
                        border-radius: 10px;
                    }
                }
                .half{
                    width: 100px;
                }
            }
        }
    }

    .popover{
        position:absolute;
        z-index: 2;
        .cover{
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}